In [62]:
import pandas as pd
import os
import requests
from dotenv import load_dotenv

In [63]:
load_dotenv()

True

In [64]:
datasets_path = "../datasets"

movie_filename = "top_movies.csv"
tv_filename = "top_tv.csv"

actors_filename = "actors.csv"
directors_filename = "directors.csv"

In [65]:
movies_df = pd.read_csv(os.path.join(datasets_path, movie_filename))
print(movies_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26173 entries, 0 to 26172
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    26173 non-null  int64
 1   title                 26173 non-null  object
 2   vote_average          26173 non-null  float64
 3   vote_count            26173 non-null  int64
 4   status                26173 non-null  object
 5   release_date          26171 non-null  object
 6   revenue               26173 non-null  int64
 7   runtime               26173 non-null  int64
 8   adult                 26173 non-null  bool
 9   backdrop_path         25910 non-null  object
 10  budget                26173 non-null  int64
 11  homepage              7661 non-null   object
 12  imdb_id               26126 non-null  object
 13  original_language     26173 non-null  object
 14  original_title        26173 non-null  object
 15  overview              26085 non-null  object
 16  popularity            26173 non-null  float64
 17  poster_path           26156 non-null  object
 18  tagline               17115 non-null  object
 19  genres                26150 non-null  object
 20  production_companies  25402 non-null  object
 21  production_countries  25941 non-null  object
 22  spoken_languages      26107 non-null  object
 23  keywords              22602 non-null  object
 24  cast                  23889 non-null  object
 25  director              23861 non-null  object
dtypes: bool(1), float64(2), int64(5), object(18)
memory usage: 5.0+ MB
None

Some movie attributes we need for content based filtering: 

vote_count: how popular is the movie  
release_date: ...  
runtime: ...  
adult: ...  
original_language: ...  
genres: ...  
keywords: ...  

we will also need  
cast: people may prefer movies with some actors  
director: ...

The movies dataset has many attributes that we need for our purpose but some we dont have.  
We dont have a column for cast and the director which are necessary alongside genre and others for the content based filtering. 

To get data for these columns, we will use the TMDB API.  
We can pass the movie id to the API and get data for cast and director, and store that data in the respective columns.

In [66]:
tv_df = pd.read_csv(os.path.join(datasets_path, tv_filename))
print(tv_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5215 entries, 0 to 5214
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5215 non-null   int64
 1   name                  5215 non-null   object
 2   number_of_seasons     5215 non-null   int64
 3   number_of_episodes    5215 non-null   int64
 4   original_language     5215 non-null   object
 5   vote_count            5215 non-null   int64
 6   vote_average          5215 non-null   float64
 7   overview              5099 non-null   object
 8   adult                 5215 non-null   bool
 9   backdrop_path         5155 non-null   object
 10  first_air_date        5205 non-null   object
 11  last_air_date         5208 non-null   object
 12  homepage              4173 non-null   object
 13  in_production         5215 non-null   bool
 14  original_name         5215 non-null   object
 15  popularity            5215 non-null   float64
 16  poster_path           5210 non-null   object
 17  type                  5215 non-null   object
 18  status                5215 non-null   object
 19  tagline               1718 non-null   object
 20  genres                5176 non-null   object
 21  created_by            3856 non-null   object
 22  languages             5190 non-null   object
 23  networks              5149 non-null   object
 24  origin_country        5179 non-null   object
 25  spoken_languages      5187 non-null   object
 26  production_companies  4542 non-null   object
 27  production_countries  4431 non-null   object
 28  episode_run_time      5215 non-null   int64
dtypes: bool(2), float64(2), int64(5), object(20)
memory usage: 1.1+ MB
None

Some tv attributes we need for content based filtering:

number_of_season: ...  
number_of_episodes: ...  
original_language: ...  
vote_count: how popular is the movie  
adult: ...  
first_air_date: ...   
type: ...  
genres: ...  
created_by: ...

For TV dataset, we dont have cast, but it wont be much necessary because its not as important in TV compared to movies where actors play in many movies many of which are also popular. Besides, we already have created_by attribute which is enough for now.

So now, we need to use the TMDB API for getting data of cast and director for our movie dataset and add those data in new columns.

We will create one new dataset, actors.csv with various details of the actors.

We will create two new columns in movies dataset:  

1. cast  
here we will store a list of 5 objects, each object for one actor. the object will have attributes: name, id, role (role played in that movie)  

2. director  
here we will store a single object, with attributes: name, id

In [67]:
actors_df = pd.read_csv(os.path.join(datasets_path, actors_filename))
directors_df = pd.read_csv(os.path.join(datasets_path, directors_filename))

In [68]:
# To find out the movie index from which we need to update the actor and director column
new_starting_point = movies_df[movies_df["cast"].isna()].index[0]
print(new_starting_point)

23889

In [ ]:
TMDB_API_TOKEN = os.environ.get("TMDB_API_TOKEN")

headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {TMDB_API_TOKEN}"
}

for index, row in movies_df[23889:25000].iterrows():
    url = f"https://api.themoviedb.org/3/movie/{row['id']}/credits?language=en-US"
    response = requests.get(url, headers=headers).json()

    cast_list = response["cast"]  # cast array
    crew_list = response["crew"]  # crew array

    top_cast = cast_list[:5]  # top 5 cast

    # find director from crew array
    director = next((person for person in crew_list if person["job"] == "Director"), None)

    # add actors to actors_df if not already present
    for actor in top_cast:
        if not (actors_df["id"] == actor["id"]).any():
            actors_df.loc[len(actors_df)] = [
                actor.get("adult"),
                actor.get("gender"),
                actor.get("id"),
                actor.get("known_for_department"),
                actor.get("name"),
                actor.get("original_name"),
                actor.get("popularity"),
                actor.get("profile_path")
            ]

    # add director to directors_df if not already present
    if director and not (directors_df["id"] == director["id"]).any():
        directors_df.loc[len(directors_df)] = [
            director.get("adult"),
            director.get("gender"),
            director.get("id"),
            director.get("known_for_department"),
            director.get("name"),
            director.get("original_name"),
            director.get("popularity"),
            director.get("profile_path")
        ]

    # keep only necessary actor attributes for the movie table
    top_cast_filtered = [
        {
            "cast_id": actor.get("cast_id"),
            "character": actor.get("character"),
            "order": actor.get("order"),
            "name": actor.get("name"),
            "id": actor.get("id")
        }
        for actor in top_cast
    ]
    movies_df.at[index, "cast"] = top_cast_filtered

    # keep only necessary director attributes for the movie table
    if director:
        director_filtered = {
            "id": director.get("id"),
            "name": director.get("name")
        }
        movies_df.at[index, "director"] = director_filtered

KeyError: 'cast'

In [59]:
# saving the updated movies table, actors table, directors table
movies_df.to_csv(os.path.join(datasets_path, movie_filename), index=False)
actors_df.to_csv(os.path.join(datasets_path, actors_filename), index=False)
directors_df.to_csv(os.path.join(datasets_path, directors_filename), index=False)

In [60]:
movies_df = pd.read_csv(os.path.join(datasets_path, movie_filename))
actors_df = pd.read_csv(os.path.join(datasets_path, actors_filename))
directors_df = pd.read_csv(os.path.join(datasets_path, directors_filename))

print(len(actors_df))
print(len(directors_df))
print(movies_df.loc[21999])

42917
9485
id                                                                 537651
title                                                               Sibel
vote_average                                                          6.7
vote_count                                                             73
status                                                           Released
release_date                                                   2019-01-04
revenue                                                                 0
runtime                                                                95
adult                                                               False
backdrop_path                            /otuMDOVxswRbYK4ezpiJgS1HLBN.jpg
budget                                                                  0
homepage                                                              NaN
imdb_id                                                         tt8696440
original_language                                                      tr
original_title                                                      Sibel
overview                25-year-old Sibel lives with her father and si...
popularity                                                           3.94
poster_path                              /k9e3nsRMVlwaraQmn4NUIRET5qa.jpg
tagline                                                               NaN
genres                                                              Drama
production_companies    Les Films du Tambour, Riva Film, Bidibul Produ...
production_countries                  France, Germany, Luxembourg, Turkey
spoken_languages                                                  Turkish
keywords                                                              NaN
cast                    [{'cast_id': 2, 'character': 'Sibel', 'order':...
director                  {'id': 1200165, 'name': 'Guillaume Giovanetti'}
Name: 21999, dtype: object

This completes the code for using the TMDB API to add  
1. actors table  
2. directors table  
3. actors and directors basic information in the movies table  

Currently, the last movie's index whose cast and director column has been updated is  
19999