In [1]:
import pandas as pd
import os

In [2]:
datasets_path = "../datasets"

movie_filename = "top_movies.csv"
tv_filename = "top_tv.csv"

In [3]:
movies_df = pd.read_csv(os.path.join(datasets_path, movie_filename))
print(movies_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110915 entries, 0 to 110914
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    110915 non-null  int64
 1   title                 110915 non-null  object
 2   vote_average          110915 non-null  float64
 3   vote_count            110915 non-null  int64
 4   status                110915 non-null  object
 5   release_date          110833 non-null  object
 6   revenue               110915 non-null  int64
 7   runtime               110915 non-null  int64
 8   adult                 110915 non-null  bool
 9   backdrop_path         90368 non-null   object
 10  budget                110915 non-null  int64
 11  homepage              20914 non-null   object
 12  imdb_id               109599 non-null  object
 13  original_language     110915 non-null  object
 14  original_title        110915 non-null  object
 15  overview              108589 non-null  object
 16  popularity            110915 non-null  float64
 17  poster_path           108724 non-null  object
 18  tagline               43333 non-null   object
 19  genres                108344 non-null  object
 20  production_companies  92308 non-null   object
 21  production_countries  103205 non-null  object
 22  spoken_languages      106550 non-null  object
 23  keywords              72865 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 19.6+ MB
None

Some movie attributes we need for content based filtering: 

vote_count: how popular is the movie  
release_date: ...  
runtime: ...  
adult: ...  
original_language: ...  
genres: ...  
keywords: ...  

we will also need  
cast: people may prefer movies with some actors  
director: ...

The movies dataset has many attributes that we need for our purpose but some we dont have.  
We dont have a column for cast and the director which are necessary alongside genre and others for the content based filtering. 

To get data for these columns, we will use the TMDB API.  
We can pass the movie id to the API and get data for cast and director, and store that data in the respective columns.

In [4]:
tv_df = pd.read_csv(os.path.join(datasets_path, tv_filename))
print(tv_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16513 entries, 0 to 16512
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    16513 non-null  int64
 1   name                  16513 non-null  object
 2   number_of_seasons     16513 non-null  int64
 3   number_of_episodes    16513 non-null  int64
 4   original_language     16513 non-null  object
 5   vote_count            16513 non-null  int64
 6   vote_average          16513 non-null  float64
 7   overview              15708 non-null  object
 8   adult                 16513 non-null  bool
 9   backdrop_path         15597 non-null  object
 10  first_air_date        16421 non-null  object
 11  last_air_date         16439 non-null  object
 12  homepage              11959 non-null  object
 13  in_production         16513 non-null  bool
 14  original_name         16513 non-null  object
 15  popularity            16513 non-null  float64
 16  poster_path           16410 non-null  object
 17  type                  16513 non-null  object
 18  status                16513 non-null  object
 19  tagline               2917 non-null   object
 20  genres                16231 non-null  object
 21  created_by            9693 non-null   object
 22  languages             16317 non-null  object
 23  networks              15939 non-null  object
 24  origin_country        16214 non-null  object
 25  spoken_languages      16308 non-null  object
 26  production_companies  12798 non-null  object
 27  production_countries  13234 non-null  object
 28  episode_run_time      16513 non-null  int64
dtypes: bool(2), float64(2), int64(5), object(20)
memory usage: 3.4+ MB
None

Some tv attributes we need for content based filtering:

number_of_season: ...  
number_of_episodes: ...  
original_language: ...  
vote_count: how popular is the movie  
adult: ...  
first_air_date: ...   
type: ...  
runtime: ...   
genres: ...  
created_by: ...

For TV dataset, we dont have cast, but it wont be much necessary because its not as important in TV compared to movies where actors play in many movies many of which are also popular. Besides, we already have created_by attribute which is enough for now.

So now, we need to use the TMDB API for getting data of cast and director for our movie dataset and add those data in new columns.

We will create one new dataset, actors.csv with various details of the actors.

We will create two new columns in movies dataset:  

1. cast  
here we will store a list of 5 objects, each object for one actor. the object will have attributes: name, id, role (role played in that movie)  

2. director  
here we will store a single object, with attributes: name, id