In [54]:
import pandas as pd
import os

In [55]:
datasets_path = "../datasets"

movie_filename = "TMDB_movie_dataset.csv"
tv_filename = "TMDB_tv_dataset.csv"

In [56]:
movies_df = pd.read_csv(os.path.join(datasets_path, movie_filename))

print(movies_df.shape)

(1326212, 24)

In [57]:
print(movies_df[movies_df['vote_count'] <= 55].shape)

(1300017, 24)

The original raw dataset has 1.326m entries. We will filter out 1.3m entries which will probably be not necessary for us indicated by
the fact that they have less than or equal to just 55 votes.
This will leave us with about 26k entries which is a sufficent and good size for our database.

In [58]:
top_movies = movies_df[movies_df['vote_count'] > 55]
print(top_movies.shape)

(26195, 24)

In [59]:
top_movies_filename = "top_movies.csv"
# top_movies.to_csv(os.path.join(datasets_path, top_movies_filename), index=False)

top_movies_df = pd.read_csv(os.path.join(datasets_path, top_movies_filename))
print(top_movies_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26185 entries, 0 to 26184
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    26185 non-null  int64
 1   title                 26185 non-null  object
 2   vote_average          26185 non-null  float64
 3   vote_count            26185 non-null  int64
 4   status                26185 non-null  object
 5   release_date          26183 non-null  object
 6   revenue               26185 non-null  int64
 7   runtime               26185 non-null  int64
 8   adult                 26185 non-null  bool
 9   backdrop_path         25922 non-null  object
 10  budget                26185 non-null  int64
 11  homepage              7665 non-null   object
 12  imdb_id               26138 non-null  object
 13  original_language     26185 non-null  object
 14  original_title        26185 non-null  object
 15  overview              26097 non-null  object
 16  popularity            26185 non-null  float64
 17  poster_path           26168 non-null  object
 18  tagline               17118 non-null  object
 19  genres                26162 non-null  object
 20  production_companies  25413 non-null  object
 21  production_countries  25953 non-null  object
 22  spoken_languages      26119 non-null  object
 23  keywords              22612 non-null  object
 24  cast                  16000 non-null  object
 25  director              15993 non-null  object
dtypes: bool(1), float64(2), int64(5), object(18)
memory usage: 5.0+ MB
None

Doing the same for series dataset

In [36]:
tv_df = pd.read_csv(os.path.join(datasets_path, tv_filename))

print(tv_df.shape)

(168639, 29)

In [64]:
print(tv_df[tv_df['vote_count'] <= 40].shape)

(163424, 29)

In [65]:
top_tv = tv_df[tv_df['vote_count'] > 40]
print(top_tv.shape)

(5215, 29)

In [66]:
top_tv_filename = "top_tv.csv"
top_tv.to_csv(os.path.join(datasets_path, top_tv_filename), index=False)

top_tv_df = pd.read_csv(os.path.join(datasets_path, top_tv_filename))
print(top_tv_df.shape)

(5215, 29)

In [67]:
print(movies_df.memory_usage(deep=True).sum() / (1024**2))
print(top_movies_df.memory_usage(deep=True).sum() / (1024**2))
print(tv_df.memory_usage(deep=True).sum() / (1024**2))
print(top_tv_df.memory_usage(deep=True).sum() / (1024**2))

1429.6126890182495
47.55964469909668
213.09556579589844
8.388651847839355

Conclusion

| Category       | Movies (rows, size) | TV (rows, size) | Total (rows, size) |
|----------------|-------------------|----------------|------------------|
| Original size  | 1.326M, 1429MB    | 168K, 213MB    | 1.494M, 1642MB   |
| Reduced size   | 26K, 47MB       | 5K, 8MB    | 31K, 55MB      |