In [29]:
import pandas as pd
import os

In [30]:
datasets_path = "../datasets"

movie_filename = "TMDB_movie_dataset.csv"
tv_filename = "TMDB_tv_dataset.csv"

In [31]:
movies_df = pd.read_csv(os.path.join(datasets_path, movie_filename))

print(movies_df.shape)

(1326212, 24)

In [32]:
print(movies_df[movies_df['vote_count'] <= 20].shape)

(1277308, 24)

The original raw dataset has 1.326m entries. We will filter out 1.277m entries which will probably be not necessary for us indicated by
the fact that they have less than or equal to just 5 votes.
This will leave us with about 49k entries which is a sufficent and good size for our database.

In [33]:
top_movies = movies_df[movies_df['vote_count'] > 20]
print(top_movies.shape)

(48904, 24)

In [ ]:
top_movies_filename = "top_movies.csv"
top_movies.to_csv(os.path.join(datasets_path, top_movies_filename), index=False)

top_movies_df = pd.read_csv(os.path.join(datasets_path, top_movies_filename))
print(top_movies_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48902 entries, 0 to 48901
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    48902 non-null  int64
 1   title                 48902 non-null  object
 2   vote_average          48902 non-null  float64
 3   vote_count            48902 non-null  int64
 4   status                48902 non-null  object
 5   release_date          48889 non-null  object
 6   revenue               48902 non-null  int64
 7   runtime               48902 non-null  int64
 8   adult                 48902 non-null  bool
 9   backdrop_path         46676 non-null  object
 10  budget                48902 non-null  int64
 11  homepage              11808 non-null  object
 12  imdb_id               48692 non-null  object
 13  original_language     48902 non-null  object
 14  original_title        48902 non-null  object
 15  overview              48469 non-null  object
 16  popularity            48902 non-null  float64
 17  poster_path           48761 non-null  object
 18  tagline               26017 non-null  object
 19  genres                48695 non-null  object
 20  production_companies  45449 non-null  object
 21  production_countries  47749 non-null  object
 22  spoken_languages      48408 non-null  object
 23  keywords              38388 non-null  object
 24  cast                  10000 non-null  object
 25  director              9997 non-null   object
dtypes: bool(1), float64(2), int64(5), object(18)
memory usage: 9.4+ MB
None

C:\Users\adars\AppData\Local\Temp\ipykernel_4800\891444475.py:4: DtypeWarning: Columns (24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  top_movies_df = pd.read_csv(os.path.join(datasets_path, top_movies_filename))

Doing the same for series dataset

In [36]:
tv_df = pd.read_csv(os.path.join(datasets_path, tv_filename))

print(tv_df.shape)

(168639, 29)

In [37]:
print(tv_df[tv_df['vote_count'] <= 10].shape)

(157273, 29)

In [38]:
top_tv = tv_df[tv_df['vote_count'] > 10]
print(top_tv.shape)

(11366, 29)

In [39]:
top_tv_filename = "top_tv.csv"
top_tv.to_csv(os.path.join(datasets_path, top_tv_filename), index=False)

top_tv_df = pd.read_csv(os.path.join(datasets_path, top_tv_filename))
print(top_tv_df.shape)

(11366, 29)

In [40]:
print(movies_df.memory_usage(deep=True).sum() / (1024**2))
print(top_movies_df.memory_usage(deep=True).sum() / (1024**2))
print(tv_df.memory_usage(deep=True).sum() / (1024**2))
print(top_tv_df.memory_usage(deep=True).sum() / (1024**2))

1429.6126890182495
76.18161487579346
213.09556579589844
18.217708587646484

Conclusion

| Category       | Movies (rows, size) | TV (rows, size) | Total (rows, size) |
|----------------|-------------------|----------------|------------------|
| Original size  | 1.326M, 1429MB    | 168K, 213MB    | 1.494M, 1642MB   |
| Reduced size   | 49K, 76MB       | 11K, 18MB    | 60K, 94MB      |