In [93]:
import pandas as pd
import os

In [94]:
movies = pd.read_csv(os.path.join('../datasets', 'movies.csv'))
tv = pd.read_csv(os.path.join('../datasets', 'tv.csv'))

For keywords

In [74]:
keywords_column = movies["keywords"].dropna()
keywords = [keyword.strip() for row in keywords_column for keyword in row.split(',')]
keywords_unique = list(set(keywords))
keywords_df = pd.DataFrame(keywords_unique, columns=['name'])
keywords_df

                                     name
0                           horror junkie
1                                   fired
2                       political history
3                                   sonar
4                         orthodox jewish
...                                   ...
21500                    harvey weinstein
21501          unplugged electronic works
21502  oss (office of strategic services)
21503                        unemployment
21504                       moose hunting

[21505 rows x 1 columns]

In [75]:
keywords_df.to_csv('../datasets/keywords.csv', index=False)

For genre

In [80]:
genre_column_movies = movies['genres'].dropna()
genre_column_tv = tv['genres'].dropna()
genre_column = pd.concat([genre_column_movies, genre_column_tv], axis=0)
genres = [genre.strip() for row in genre_column for genre in row.split(',')]
genres_unique = list(set(genres))
genres_df = pd.DataFrame(genres_unique, columns=['name'])
genres_df

                  name
0                 Kids
1              Mystery
2                Music
3                 News
4              Musical
5   Action & Adventure
6                 Talk
7              History
8              Romance
9              Western
10               Drama
11         Documentary
12               Crime
13             Fantasy
14     Science Fiction
15              Family
16              Action
17           Animation
18                Soap
19             Reality
20           Adventure
21    Sci-Fi & Fantasy
22              Comedy
23            TV Movie
24                 War
25              Horror
26      War & Politics
27            Thriller

In [81]:
genres_df.to_csv('../datasets/genres.csv', index=False)

For production company

In [103]:
production_company_column_movies = movies['production_companies'].dropna()
production_company_column_tv = tv['production_companies'].dropna()
production_company_column = pd.concat([production_company_column_movies, production_company_column_tv], axis=0)
production_companies = [production_company.strip() for row in production_company_column for production_company in row.split(',')]
production_companies_unique = list(set(production_companies))
production_companies_df = pd.DataFrame(production_companies_unique, columns=['name'])

In [104]:
production_companies_df.to_csv('../datasets/production_companies.csv', index=False)

For production country

In [105]:
production_country_column_movies = movies['production_countries'].dropna()
production_country_column_tv = tv['production_countries'].dropna()
production_country_column = pd.concat([production_country_column_movies, production_country_column_tv], axis=0)
production_countries = [production_country.strip() for row in production_country_column for production_country in row.split(',')]
production_countries_unique = list(set(production_countries))
production_countries_df = pd.DataFrame(production_countries_unique, columns=['name'])

In [106]:
production_countries_df.to_csv('../datasets/production_countries.csv', index=False)

For spoken language

In [111]:
spoken_language_column_movies = movies['spoken_languages'].dropna()
spoken_language_column_tv = tv['spoken_languages'].dropna()
spoken_language_column = pd.concat([spoken_language_column_movies, spoken_language_column_tv], axis=0)
spoken_languages = [spoken_language.strip() for row in spoken_language_column for spoken_language in row.split(',')]
spoken_languages_unique = list(set(spoken_languages))
spoken_languages_df = pd.DataFrame(spoken_languages_unique, columns=['name'])

In [112]:
spoken_languages_df.to_csv('../datasets/spoken_languages.csv', index=False)

For original language

In [115]:
original_language_column_movies = movies['original_language'].dropna()
original_language_column_tv = tv['original_language'].dropna()
language_column_tv = tv['languages'].dropna()
language_column = pd.concat([original_language_column_movies, original_language_column_tv, language_column_tv], axis=0)
languages = [language.strip() for row in language_column for language in row.split(',')]
languages_unique = list(set(languages))
languages_df = pd.DataFrame(languages_unique, columns=['code'])

In [116]:
languages_df.to_csv('../datasets/languages.csv', index=False)

Note: the file languages.csv is manually changed to add column called "name" which is the language for given code

For person

In [125]:
actors = pd.read_csv(os.path.join('../datasets', 'actors.csv'))
directors = pd.read_csv(os.path.join('../datasets', 'directors.csv'))

person_column = pd.concat([actors, directors], axis=0)
person_column.drop_duplicates(subset='id', keep='first', inplace=True)

In [127]:
person_column.to_csv('../datasets/person.csv', index=False)

For origin country

In [130]:
orgin_countries_column = tv['origin_country'].dropna()
orgin_countries = [origin_country.strip() for row in orgin_countries_column for origin_country in row.split(',')]
orgin_countries_unique = list(set(orgin_countries))
orgin_countries_df = pd.DataFrame(orgin_countries_unique, columns=['code'])

In [131]:
orgin_countries_df.to_csv('../datasets/origin_countries.csv', index=False)

Note: the file origin_countries.csv is manually changed to add column called "name" which is the country for given code

For network

In [132]:
network_column = tv['networks'].dropna()
network = [network.strip() for row in network_column for network in row.split(',')]
network_unique = list(set(network))
network_df = pd.DataFrame(network_unique, columns=['name'])

In [134]:
network_df.to_csv('../datasets/networks.csv', index=False)

For creator

In [135]:
creator_column = tv['created_by'].dropna()
creator = [creator.strip() for row in creator_column for creator in row.split(',')]
creator_unique = list(set(creator))
creator_df = pd.DataFrame(creator_unique, columns=['name'])

In [137]:
creator_df.to_csv('../datasets/creators.csv', index=False)